.layout {
  background-color: var(--black-050);
  height: 100vh;
}

.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 950px;
}

.topForm {
  height: 130px;
  display: flex;
  align-items: center;
  background-image: url('http://localhost:3000/images/background.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  h1 {
    font-size: 27px;
  }
}
