.dialog {
  position: absolute;
  top: 47px;
  display: block;
  color: var(--black-700);
  font-size: 12px;
  background-color: var(--white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05),
    0 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 1;
  border-left: 1px solid var(--black-075);
  border-right: 1px solid var(--black-075);
  border-bottom: 1px solid var(--black-075);
}

.sidebar {
  width: 164px;
  flex-shrink: 0;
  z-index: 2;
  box-shadow: 0 0 0 rgba(12, 13, 14, 0.05);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
}
