.container {
  flex: 1 auto;
  overflow: hidden;
}

.link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 8px;
  word-break: break-word;
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-break: break-word;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 60px;
}

.tagContainer {
  flex: 1 auto;
  margin-bottom: 8px;
}

.userDetails {
  display: flex;
  flex-shrink: 0;
  font-size: 12px;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    border-radius: 1px;
  }

  span {
    color: var(--black-400);
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    a {
      width: min-content;
    }
  }
}
