.authModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 60px;
  margin-bottom: 15px;
}

.authSwichMessage {
  color: var(--black-700);
  margin-top: 12px;
}
