.navItem {
  color: var(--black-600);
  padding: 8px 6px 8px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: var(--black-900);
  }
  span {
    margin-left: 20px;
  }
  svg {
    font-size: 13px;

    & + * {
      margin-left: 7px;
    }
  }
}

.navItemSelected {
  font-weight: bold;
  background: var(--black-50);
  color: var(--black-900);
  border-right: 3px solid var(--orange);
}
