.container {
  padding: 24px 12px 24px 24px;
}

.borderBottom {
  border-bottom: 1px solid var(--black-100);
}

.title {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 27px;
  }

  button {
    min-width: 105px;
    margin-left: 20px;
    max-height: 36px;
  }
}

.summary {
  margin-top: 20px;
  font-size: 15px;
  max-width: 630px;
}
