.body {
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 50px);

  @media (--m) {
    grid-template-columns: 164px 1fr;
  }

  @media (--t) {
    grid-template-columns: 164px 1fr 324px;
  }
}

.main {
  grid-template-columns: 1fr;
  color: var(--black-700);

  @media (--m) {
    grid-template-columns: 164px 1fr;
  }

}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding-top: 50px;
}
